<div class="modal-header">
  <h4 class="modal-title">
    <ng-container *ngIf="message?.title">{{message?.title}}</ng-container>
    <ng-container *ngIf="!message?.title">Mensaje</ng-container>
  </h4>
  <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.close()"></button>
</div>
<div class="modal-body">
  <p [innerHTML]="message?.text"></p>
</div>
<div class="modal-footer">
  <button type="button" ngbAutofocus class="btn btn-primary" (click)="activeModal.close()">Cerrar</button>
</div>
